body {
  font-family: 'Cabin Sketch', cursive;
  display: flex;
  align-items: center;
  height: 100vh;
}

/*Nav styling*/
nav {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background: black;
  height: 100px;
  color: white;
  font-family: Times New Roman;
  font-style: italic;
  font-size: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/*Page layout and containers*/

#container {
  background-color: #006c7a;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  width: 414px;
  height: 414px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 0;
  box-sizing: border-box;
  box-shadow: 0px 4px 5px #333;
}

#sequencer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.res-row {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.seq-key {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100px;
}

/*Sequencer styling*/

.key {
  background-color: #333;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  color: #808080;
  transition: all .07s ease;
  box-shadow: 0px 4px 5px #333;
}

.key-select {
  background-color: rgba(255,186,84,0.5);
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
}

.drum-select {
  background-color: rgba(252,80,0,0.5);
  color: #fff;
}

.active {
  color: #ffaa02;
  background: #0F0;
  box-shadow: 0 0 5px #ffaa02;
}

.light {
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  border: 1px solid black;
  width: 15px;
  height: 15px;
  background-color: #961e1e;
  border-radius: 50%;
  transition: all .07s ease;
}

.lit {
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  transform: scale(1.1);
  background-color: #B09412;
  box-shadow: 0 0 5px;
}

/*Playback controls*/

#controls,
#drum-selector {
  display: flex;
  flex-direction: column;
  font-family: Arial;
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #333;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  text-align: center;
  height: 50px;
  width: 100px;
  margin: 10px 0;
  border: none;
  font-family: 'Cabin Sketch', cursive;
  font-size: 24px;
  font-weight: bold;
  color: #CCC;
  box-shadow: 0px 4px 5px #333;
}

button:focus {
  outline: none;
}

.press {
  position: relative;
  top: 5px;
  box-shadow: none;
}

.playing {
  background-color: rgba(152,206,17,0.5);
  color: #FFF;
}

.stop {
  background-color: rgba(224,9,9,0.5);
}

#tempo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100px;
  margin: 0;
  font-family: 'Cabin Sketch', cursive;
  font-size: 1.6em;
  box-sizing: border-box;
  color: #222;
  min-width: 150px;
}

/*#tempo-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/

#tempo-control button {
  font-size: 0.8em;
  height: 36px;
  width: 36px;
  margin: 2px 0;
}

input {
  height: 40px;
  width: 80px;
  text-align: center;
  border-radius: 10px;
}

/*Loss/Error Display*/

#error-loss {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin-top: 30px;
}

.outcome {
  display: none;
  font-size: 48px;
  font-family: Arial;
  font-style: italic;
  font-weight: bold;
}

#lose {
  color: red;
}

#bad-input {
  color: black;
}

/*Instruction and Victory Overlays*/

.overlay {
  display: none;
  color: #FFF;
  font-style: italic;
  font-family: Times New Roman;
  text-align: center;
}

.inst-overlay {
display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: rgba(0,0,0,0.90);
z-index: 1;
}

p {
  font-size: 24px;
}

#play-again {
  margin-top: 80px;
  width: 500px;
  display: flex;
  justify-content: space-around;
}

#play-again button {
  background: rgba(0,0,0,0.0);
  border: 2px solid #FFF;
  color: #FFF;
  font-style: italic;
  font-family: Times New Roman;
  text-align: center;
  border-radius: 5%;
  width: 150px;
  height: 50px;
  font-size: 24px
}

 #inst-content {
   max-width: 960px;
 }

/*Media queries... optimized for desktop browsers only*/

 @media (max-width: 500px) {
   #controls {
     flex-direction: column;
   }

  .res-row {
    width: 100%;
  }

  nav {
    height: 50px;
    font-size: 18px;
  }

  #play,
  #submit {
    margin-bottom: 10px;
  }

  #controls {
    margin-top: 20px;
  }

 }
